<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/admin/css/style1.css">
    <title>Search</title>
</head>
<body>
<div class = "parent">
<div class = "wrapper">
    <h1 class = "search">Search</h1>
    <form action="/search" method="GET">
        <input type="text" name="search" id = "searchbox" placeholder="Enter Search">
        <hr>
<div class = "posts">
    <div class = "post">
        {% for post in posts %}
        <div class = "post">
            <h2>{{post.title}}</h2>
            <p>{{post.content}}</p>
        </div>
        {% endfor %}

</div>
    </form>
</div>
    </div>
</body>
</html>